#captures {
}

#captures .slideout-content {
    width: 400px;
}

#captures-list {
	width: 100%;
	font-size: 10pt;
	border-collapse: collapse;
}

#captures-list:empty:before {
	content: 'No Captures';
	text-align: center;
	font-weight: bold;
}

.capture_nr {
	text-align: center;
	font-size: 12pt;
	width: 30px;
}

#captures-list img {
	width: 128px;
	height: 128px;
}


#captures-list tr:hover,
#captures-list tr.selected {
	border: 1px solid #eee;
}