#captures {
}

#captures .slideout-content {
    width: 400px;
	display: flex;
	flex-flow: column;
}

#captures-list- {
	flex: 1;
    min-height: 0;
    overflow: auto;
}

#captures-list {
	width: 100%;
	font-size: 10pt;
	border-collapse: collapse;
}

#captures-list:empty:before {
	content: 'No Captures';
	text-align: center;
	font-weight: bold;
}

.capture_nr {
	text-align: center;
	font-size: 12pt;
	width: 30px;
}

#captures-list img {
	width: 128px;
	height: 128px;
}

#captures-list img[data-unsaved=true] {
	border: 1px solid red;
}

#captures-list tr {
	border-width: 0px 2px 0px 2px;
	border-style: solid;
	border-color: transparent;
}

#captures-list tr:hover {
	border-color: #eee !important;
}

#captures-list tr.selected {
	border-color: rgb(73, 89, 230) !important;
}

#captures-list tr.selected:hover {
	border-color: rgb(230, 175, 73) !important;
}

#captures-controls {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

#captures-controls button {
	flex: 1 0 auto;
	margin: 10px;
}