.slideout {
    position: relative;
    top: 0;
    height: 100%;
    max-height: 100%;
	
	flex: 0 0 auto;

	z-index: 99;

	--tab-width: 30px;
	--tab-peek: 15px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.slideout.left {
    float: left;
	transform: translateX(-100%) translateX(var(--tab-width));
}

.slideout.left:hover {
    transform: translateX(-100%) translateX(calc(var(--tab-width) + var(--tab-peek)));
}

.slideout.right {
    float: right;
	transform: translateX(100%) translateX(calc(var(--tab-width) * -1));
}

.slideout.right:hover {
    transform: translateX(100%) translateX(calc(var(--tab-width) * -1 - var(--tab-peek)));
}

.slideout.show,
.slideout.show:hover {
	transform: translateX(0);
}

.slideout-tab {
    width: var(--tab-width);
    font-size: 15px;
    min-height: 100%;
    background: #333;
    text-align: center;
    cursor: pointer;
}

.slideout-tab-mark {
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    pointer-events: none;
}

.slideout.left .slideout-tab-mark::before,
.slideout.right.show .slideout-tab-mark::before {
    content: "\2192";
}

.slideout.right .slideout-tab-mark::before,
.slideout.left.show .slideout-tab-mark::before {
    content: "\2190";
}

.slideout-title {
    width: 75%;
    padding-top: 20px;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-align: center;
    font-weight: bold;
    color: #eee;
    pointer-events: none;
}

.slideout.left .slideout-tab {
    float: left;
}

.slideout.right .slideout-tab {
    float: right;
}

.slideout-content {
	background: #222;
	color: #eee;
	height: 100%;
	padding: 0px 10px;
    overflow-y: auto;
}

.slideout.left .slideout-content {
    float: left;
}

.slideout.right .slideout-content {
    float: right;
}