@import "slideout.css";
@import "windows.css";

@import "captures.css";

body {
    height: 100vh;
    width: 100wh;
    margin: 0;
    padding: 0;
    background: #AAA;
    font-family: 'Courier New', Courier, monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#message {
    z-index: 999;
    top: 50%;
    left: calc(50% - 150px);
	display: none;
	width: 300px;
}

#image {
    top: 10px;
    left: 445px;
}

#image canvas {
	border: 1px dotted #666;
}

#image-metadata {
	display: none;
}

#image button {
	width: 100%;
	height: 30px;
	font-weight: bolder;
	font-size: 12pt;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 8px;
}

#pattern {
    top: 630px;
    left: 10px;
}

#pattern canvas {
	border: 1px solid #666;
}

#pattern-parameter label
{
	font-size: 10pt;
}

#pattern-parameter input
{
	width: 45px;
}

#digitize {
    top: 630px;
    left: 560px;
}

#digitize-parameter label
{
	font-size: 10pt;
}

#digitize select
{
	width: 100%;
}

#digitize input,
#digitize textarea
{
	float: right;
}

#digitize table {
	width: 100%;
}

#digitize textarea {
	resize: vertical;
}

#digitize button {
	width: 100%;
	height: 50px;
	font-weight: bolder;
	font-size: 12pt;
	font-family: 'Courier New', Courier, monospace;
}

#control {
    top: 870px;
    left: 560px;
	width: 278px;
}

#control table {
	width: 100%;
}

#control button {
	width: 100%;
	height: 50px;
	font-weight: bolder;
	font-size: 12pt;
	font-family: 'Courier New', Courier, monospace;
}

#register {
    top: 10px;
    left: 995px;
}

#register label
{
	font-size: 10pt;
}

#register input {
    width: 65px;
}

#register input:read-only {
    border: none;
	background-color: transparent;
	color: #fff;
}

.progress-box {
	margin: 0 auto;
	border: 1px solid #ccc!important;
	display: block;
}

.progress-bar {
	width: 0%;
	color: #fff;
	background-color: #2196F3;
	text-align: center!important;
}

.window-footer .progress-box {
    width: 95%;
}
