body {
    height: 100vh;
    width: 100wh;
    margin: 0;
    padding: 0;
    background: #AAA;
    font-family: 'Courier New', Courier, monospace;
}

#message {
    z-index: 99;
    top: 50%;
    left: calc(50% - 150px);
	display: none;
	width: 300px;
}

#image {
    z-index: 1;
    top: 10px;
    left: 10px;
}

#pattern {
	z-index: 2;
    top: 10px;
    left: 550px;
}

#control {
    z-index: 3;
    top: 660px;
    left: 10px;
}

#control button {
	width: 85px;
	height: 50px;
	font-weight: bolder;
	font-size: 12pt;
	font-family: 'Courier New', Courier, monospace;
}

#register {
    z-index: 4;
    top: 10px;
    left: 835px;
}

#register input {
    width: 45px;
}

#register input::-webkit-outer-spin-button,
#register input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.progress-box {
	margin: 0 auto;
	border: 1px solid #ccc!important;
	display: block;
}

.progress-bar {
	width: 0%;
	color: #fff;
  background-color: #2196F3;
  text-align: center!important;
}

.window-footer .progress-box {
    width: 95%;
}

/* WINDOWS */

.window {
	position: fixed;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 4px rgba(0,0,0,0,0.9), -1px 1px 4px rgba(0,0,0,0,0.9);
	background: #fff;
}

.window-content {
	background: #222;
	color: #fff;
	height: 100%;
	padding: 10px;
}

.window-footer {
	display: block;
	width: calc(100% - 4px);
	background-color: #444;
  color: #888;
  font-weight: 600;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 8px 2px 2px 2px;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0;
  text-align: center;
}

.window-top, .window-top-no-bind {
	cursor: move;
	height: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	background-color: #ddd;
}

.window-top-no-bind {
	cursor: inherit;
}

.window-title {
    text-align: left;
    float: left;
    font-weight: bolder;
}

.round {
	display: block;
	float: right;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	margin-right: 6px;
	box-shadow: 1px 1px 2px #000;
  	cursor: pointer;
}

.close {
	background-color: #8d0000;
}

.minimize {
	background-color: #008d00;
}

.maximize {
	background-color: #8d4e00;
}
